# prediction using Supervised machine learning solution

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

importing data

In [49]:
data = pd.read_csv('student_scores - student_scores.csv')

In [50]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

EDA

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [52]:
data.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [53]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [54]:
# splitting our data to features and target
x = data.drop(columns =['Hours'], axis=1)
y = data['Scores']

In [55]:
# split our data to train and test
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.1, random_state=0)

model

In [56]:
#Linear Regression Model

In [57]:
LR = LinearRegression()

In [58]:
LR.fit(X_train, Y_train)

LinearRegression()

In [59]:
Y_pred_LR = LR.predict(X_test)

In [60]:
# R squared value
r2_sqr = metrics.r2_score(Y_test, Y_pred_LR)
print('R squared value ', r2_sqr)

R squared value  1.0